$cor:(
  amarelo-escuro: #BC9E55,
  amarelo-claro: #FFDD72,
  fundo-curiosidades: #67BED3,
  cinza: #7A7A7A,
  laranja: #C2392C,
  verde-agua:#339294
);

$font-size:(
  nav: 15px,
  titulo: 40px,
  
)

